extends ../layout

block content
    section.my-5.mx-1
        div.card.mb-3
            div.card-body
                h5.card-title Add a mod
                form(method='post' action='/mods/add' enctype='multipart/form-data')
                    div.form-group
                        label(for='title') Title
                        input(type='text' placeholder='Mod Title' name='title' maxlength='255' value=(formContents ? formContents.title : null) onKeyUp="generateSlug()" required).form-control#title
                    div.form-group
                        label(for='slug') URL Slug #[small.text-muted (formerly ID)]
                        input(type='text' placeholder='mod-slug' name='slug' aria-describedby='slugHelp' maxlength='64' value=(formContents ? formContents.slug : null) required).form-control#slug
                        small.text-muted#slugHelp The #[a(href='https://api.raftmodding.com/website/slugs' target='_blank') slug] is a short unique text that will be in the url of the mod, i.e. #[code #{baseUrl}/mods/#[u mod-slug]]. It may only contain lowercase letters, numbers, dashes, dots and underscores. Slugs can not contain just numbers and can not be longer than 64 characters.
                    div.form-group
                        label(for='description') Description
                        input(type='text' placeholder='Short description for your mod.' name='description' maxlength='255' value=(formContents ? formContents.description : null) required).form-control#description
                    div.form-group
                        label(for='banner') Banner image URL
                        input(type='url' placeholder='https://example.com/imagename.png' name='bannerImageUrl' aria-describedby='bannerHelp' value=(formContents ? formContents.bannerImageUrl : null)).form-control#banner
                        small.text-muted#bannerHelp This image will be used when displaying your mod in the mods directory. The recommended size is 660 x 200 pixels.
                    div.form-group
                        label(for='icon') Icon image URL
                        input(type='url' placeholder='https://example.com/imagename.png' name='iconImageUrl' aria-describedby='iconHelp' value=(formContents ? formContents.iconImageUrl : null)).form-control#icon
                        small.text-muted#iconHelp This image will be used when displaying your mod in the discovery tab of the mod loader launcher. It is recommended to use a square image.
                    div.form-group
                        label(for='category') Category
                        select(name='category' required).custom-select#category
                            option(value='utility' selected=(formContents ? formContents.category === 'utility' : true)) Utility
                            option(value='optimization' selected=(formContents ? formContents.category === 'optimization' : false)) Optimization
                            option(value='content' selected=(formContents ? formContents.category === 'content' : false)) Content
                            option(value='fun' selected=(formContents ? formContents.category === 'fun' : false)) Fun
                    div.form-group
                        label(for='version') Version
                        input(type='text' placeholder='v1.0.0' name='version' maxlength='64' aria-describedby='versionHelp' value=(formContents ? formContents.version : null) required).form-control#version
                        small.text-muted#versionHelp Must be a #[a(href='https://api.raftmodding.com/website/slugs' target='_blank') slug] and can thus only contain lowercase characters, numbers, dashes, underscores and dots.
                    .form-group
                        label Compatible Raft versions
                        .input-group
                            select(name='minRaftVersionId')#min-raft-version.custom-select
                                option(disabled selected=(formContents.minRaftVersionId ? 'false' : 'selected')) Please select a version...
                                each raftVersion in raftVersions
                                    option(value=raftVersion.id selected=(formContents.minRaftVersionId == raftVersion.id))=`Raft Update ${raftVersion.version}`
                            .input-group-prepend.input-group-append
                                span.input-group-text -
                            select(name='maxRaftVersionId')#max-raft-version.custom-select
                                option(disabled selected=(formContents.maxRaftVersionId ? 'false' : 'selected')) Please select a version...
                                each raftVersion in raftVersions
                                    option(value=raftVersion.id selected=(formContents.maxRaftVersionId == raftVersion.id))=`Raft Update ${raftVersion.version}`
                        .form-check
                            label.form-check-label#definite-version-cap
                                input(type='checkbox' checked=formContents.definiteMaxRaftVersion name='definiteMaxRaftVersion').form-check-input#definite-version-cap
                                small.text-muted Definite version cap
                        .form-check
                            label.form-check-label#multiplayer-support
                                input(type='checkbox' checked=formContents.multiplayerSupport name='multiplayerSupport').form-check-input#multiplayer-support
                                small.text-muted Multiplayer Support
                    div.form-group
                        label(for='readme-input') Readme
                        textarea(placeholder='Explain what your mod is about and how to use it using markdown.' name='readme' rows='10' required).form-control#readme-input=(formContents ? formContents.readme : null)
                    div.form-group
                        label(for='repository') Source code repository URL
                        input(type='url' placeholder='https://github.com/path/to/repository' name='repositoryUrl' aria-describedby='repositoryHelp' value=(formContents ? formContents.repositoryUrl : null)).form-control#repository
                        small.text-muted#repositoryHelp Can be left out.
                    div.custom-file.my-3
                        label(for='file').custom-file-label#labelForFile Mod file
                        input(type='file' name='file' accept=acceptedModFileTypes aria-describedby='fileHelp').custom-file-input#file
                        small.text-muted#fileHelp Upload your mod file. If your mod needs to ship with multiple files, please follow our guide on #[a(href='https://api.raftmodding.com/website/mods-with-multiple-files' target='_blank') structuring your mod].
                    hr
                    input(type='submit' value='Submit mod').btn.btn-success
                    button(type='button' data-toggle='collapse' data-target='#preview' aria-expanded='false' aria-controls='preview').mx-1.btn.btn-outline-primary Preview mod page
                    a(href='/mods/').btn.btn-outline-danger Discard changes
        ul
            li Just want to find some existing mods? #[a(href='/mods') Browse the directory]
    include ../mod-preview
    link(rel='stylesheet' href='/assets/simplemde/simplemde.min.css')
    script.
        $('#file').change(e => e.currentTarget.files.length >= 1 ? $('#labelForFile').text(e.currentTarget.files[0].name) : $('#labelForFile').text('Mod file'))
    script(src='/assets/simplemde/simplemde.min.js')
    script(src='/scripts/slugify.js')
    script new SimpleMDE({element: document.getElementById('readme-input'), forceSync: true});
