extends layout

block modContent
    .card
        if mod.bannerImageUrl
            img(src='/images/banner-default.jpg', data-src=mod.bannerImageUrl, alt=`banner for the ${mod.title} mod`).card-img-top.lazy-image
        .card-body
            .card-text.mod-readme!=mod.readmeMarkdown
            p.card-text
                small.text-muted #[i.far.fa-clock.mr-1] Description last changed on #{new Date(mod.updatedAt).toISOString().split('T')[0]}